#top_menu{
    background: white;
    padding: 25px;

    #top_menu_items{
        text-align: right;
        .top_menu_item{
            text-decoration: none;
            color: rgb(0, 148, 170);
            margin: 20px;
            font-size: larger;
        }
    }
}
#page_main{
    background: rgb(216, 240, 247);
    /*
    .title{
        color: rgb(0, 148, 170);

        font-weight: 300;
    }
   */
}
#bottom_description{
    background: white;
    padding: 25px;
    text-align: center;
    .description{
        color: rgb(0, 148, 170);
        margin: 20px;
        font-size: smaller;
    }
}
